body{
    /*background-image: url('../imgs/mu-tot.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}
h1{
    color: #59cb28;/* rgb(12,190,0)*/
    font-size: 30px;
    font-family: "Times New Roman";
    font-weight: 700;
    line-height: 50px;
    text-decoration: none;
    /* underline line-through overline none*/
    text-transform: none;
    /* uppercase lowercase capitalize none*/
    text-shadow: -5px -5px 3px red;
}
p{
    font-size: 16px;
    line-height: 1.25;
    color: #333333;
    width: 600px;
    text-align: justify;
    /* left right center justify*/
    background-color: papayawhip;
    border: 1px solid deeppink;
    /* solid dotted dashed*/
}
span{
    border: 1px solid deeppink;
}
img{
    max-width: 100%;
}